:root {
  font-family: "Lora", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: peru;
  text-decoration: inherit;
}

a:hover {
  color: black;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2, h3, h4 {
  font-family: "Philosopher", serif;
}

button {
  color: black;
  border-radius: 8px;
  border: 1px solid peru;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: rgb(255, 250, 245);
}

button:hover {
  border-color: peru;
  background-color: rgba(255, 200, 128, 0.315);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.bold{
  font-weight: bolder;
}

.margin-bottom{
  margin-bottom: 10px;
}

.text-tip{
  margin: 0;
  padding: 0;
  text-align: left;
  font-style: italic;
  font-size: smaller;
  color: #494949;
  padding-left: 7px;
}

.center-text{
  text-align: center;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.delete-button{
  background-color: rgb(231, 153, 166);
  border-radius: 8px;
  border: 1px solid #b16363;
}

.delete-button:hover{
  background-color: rgba(255, 93, 122, 0.582);
}

input, textarea {
  background-color: rgb(255, 250, 245);
  border: 1px solid peru;
  color: black;
  margin: 1px;
}

/* ---Custom scrollbar for webkit browsers (Chrome, Safari, Edge)--- */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: antiquewhite;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: peru;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkorange;
}

* {
  scrollbar-width: thin; /* Set the scrollbar width to thin */
  scrollbar-color: peru antiquewhite; /* Set the color of the scrollbar thumb and track */
}